.player {
  height: 30px;
  width: 30px;
  margin: 0 20px;
  border-radius: 20px;
}

#one{
  background-color: #ffaa33;
  border: 1px solid red;
}

#two {
  background-color: #00aaff;
  border: 1px solid blue;
}
